@use "../utils/variables";

.invoice-template {
    background: #F8F9FA;
    .invoice-star {
        height: 14px;
        width: 14px;
        background-color: #E5E7EB;
        border-radius: 50%;
        color: variables.$gray-500;
    }
    &.active {
        border-color: variables.$primary !important;
        .invoice-star {
            background-color: variables.$primary;
            color: variables.$white;
        }
    }
}