<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Dreams rent - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
	<meta name="author" content="Dreams technologies - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Dreamsrent Admin Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">

	<!-- Theme Settings Js -->
	<script src="assets/js/theme-script.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="login-page">

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div class="container-fuild">
			<div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
				<div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
					<div class="col-lg-5 mx-auto">
						<form action="index.html" class="p-4">
							<div class="mx-auto mb-5 text-center">
								<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
							</div>
							<div class="card authentication-card mb-0">
								<div class="card-body">
									<div class="login-icon bg-dark d-flex align-items-center justify-content-center mx-auto mb-4">
										<i class="ti ti-login fs-24"></i>
									</div>
									<div class="text-center mb-3">
										<h4 class="mb-1">Welcome Back</h4>
										<p class="mb-0">Please enter your details to sign in</p>
									</div>
									<div class="mb-3">
										<label class="form-label">Email / Username <span class="text-danger">*</span></label>
										<div class="input-group">
											<input type="text" value="" class="form-control border-end-0">
											<span class="input-group-text border-start-0">
												<i class="ti ti-user-circle"></i>
											</span>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Password <span class="text-danger">*</span></label>
										<div class="pass-group">
											<input type="password" class="pass-input form-control">
											<span class="ti toggle-password ti-eye-off"></span>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mb-3">
										<div class="d-flex align-items-center">
											<div class="form-check form-check-md mb-0">
												<input class="form-check-input" id="remember_me" type="checkbox">
												<label for="remember_me" class="form-check-label mt-0">Remember Me</label>
											</div>
										</div>
										<div class="text-end">
											<a href="forgot-password.html" class="link-default text-decoration-underline">Forgot Password</a>
										</div>
									</div>
									<div class="mt-3">
										<button type="submit" class="btn btn-dark w-100">Login</button>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<div class="login-bg">
			<img src="assets/img/bg/login-bg-01.png" alt="img" class="login-bg-01">
			<img src="assets/img/bg/login-bg-02.png" alt="img" class="login-bg-02">
		</div>
	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>