<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Dreams Rent | Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">		

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">
	
    <!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">
		
	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	
</head>
<body>
	
	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
						<a href="index.html" class="navbar-brand logo-small">
							<img src="assets/img/logo-small.png" class="img-fluid" alt="Logo">
						</a>							
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="index.html">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu mega-submenu">
									 </ul>
							</li>
							<li class="has-submenu">
								<a href="#">Listings <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
								    <li><a href="listing-grid.html">Listing Grid</a></li>
								    <li><a href="listing-list.html">Listing List</a></li>
									<li><a href="listing-map.html">Listing With Map</a></li>						
								    <li><a href="listing-details.html">Listing Details</a></li>								
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
								    <li ><a href="about-us.html">About Us</a></li>
								    <li><a href="contact-us.html">Contact</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Authentication</a>
										<ul class="submenu">
											<li><a href="register.html">Sign Up</a></li>
											<li><a href="login.html">Sign In</a></li>
											<li><a href="forgot-password.html">Forgot Password</a></li>
											<li><a href="reset-password.html">Reset Password</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Booking</a>
										<ul class="submenu">
											<li><a href="booking-checkout.html">Booking Checkout</a></li>
											<li><a href="booking.html">Booking</a></li>
											<li><a href="invoice-details.html">Invoice Details</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Error Page</a>
										<ul class="submenu">
											<li><a href="error-404.html">404 Error</a></li>
											<li><a href="error-500.html">500 Error</a></li>
										</ul>
									</li>
								    <li><a href="pricing.html">Pricing</a></li>
								    <li><a href="faq.html">FAQ</a></li>
								     
								    <li><a href="our-team.html">Our Team</a></li>
								    <li><a href="testimonial.html">Testimonials</a></li>
									<li><a href="terms-condition.html">Terms & Conditions</a></li>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="maintenance.html">Maintenance</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>							
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
								    <li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>																		
								</ul>
							</li>
							<li class="has-submenu active">
								<a href="#">Dashboard <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu active">
										<a href="javascript:void(0);">User Dashboard</a>
										<ul class="submenu">
											<li><a href="user-dashboard.html">Dashboard</a></li>
											<li class="active"><a href="user-bookings.html">My Bookings</a></li>
											<li><a href="user-reviews.html">Reviews</a></li>
											<li><a href="user-wishlist.html">Wishlist</a></li>
											<li><a href="user-messages.html">Messages</a></li>
											<li><a href="user-wallet.html">My Wallet</a></li>
											<li><a href="user-payment.html">Payments</a></li>
											<li><a href="user-settings.html">Settings</a></li>			
										</ul>
									</li>		
									<li class="has-submenu">
										<a href="javascript:void(0);">Admin Dashboard</a>
										<ul class="submenu">
											<li><a href="../template/admin/index.html">Dashboard</a></li>
											<li><a href="../template/admin/reservations.html">Bookings</a></li>
											<li><a href="../template/admin/customers.html">Manage</a></li>
											<li><a href="../template/admin/cars.html">Rentals</a></li>
											<li><a href="../template/admin/invoices.html">Finance & Accounts</a></li>
											<li><a href="../template/admin/coupons.html">Others</a></li>
											<li><a href="../template/admin/pages.html">CMS</a></li>			
											<li><a href="../template/admin/contact-messages.html">Support</a></li>			
											<li><a href="../template/admin/users.html">User Management</a></li>			
											<li><a href="../template/admin/earnings-report.html">Reports</a></li>			
											<li><a href="../template/admin/profile-setting.html">Settings & Configuration</a></li>		
										</ul>
									</li>				
								</ul>
							</li>	
							<li class="login-link">
								<a href="register.html">Sign Up</a>
							</li>
							<li class="login-link">
								<a href="login.html">Sign In</a>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">

						<!-- Notifications -->
						<li class="nav-item dropdown logged-item noti-nav noti-wrapper">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<span class="bell-icon"><img src="assets/img/icons/bell-icon.svg" alt="Bell"></span> 
								<span class="badge badge-pill"></span>
							</a>
							<div class="dropdown-menu notifications">
								<div class="topnav-dropdown-header">
									<span class="notification-title">Notifications</span>
									<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
								</div>
								<div class="noti-content">
									<ul class="notification-list">
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar avatar-lg flex-shrink-0">
														<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-01.jpg">
													</span>
													<div class="media-body flex-grow-1">
														<p class="noti-details"><span class="noti-title">Jonathan Doe </span> has booked <span class="noti-title">your service</span></p>
														<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
													</div>
												</div>
											</a>
										</li>
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar avatar-lg flex-shrink-0">
														<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-03.jpg">
													</span>
													<div class="media-body flex-grow-1">
														<p class="noti-details"><span class="noti-title">Julie Pennington</span> has booked <span class="noti-title">your service</span></p>
														<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
													</div>
												</div>
											</a>
										</li>
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar avatar-lg flex-shrink-0">
														<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
													</span>
													<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tyrone Roberts</span> has booked <span class="noti-title">your service</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
													</div>
												</div>
											</a>
										</li>
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar avatar-lg flex-shrink-0">
														<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-04.jpg">
													</span>
													<div class="media-body flex-grow-1">
														<p class="noti-details"><span class="noti-title">Patricia Manzi</span> has booked <span class="noti-title">your service</span></p>
														<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
													</div>
												</div>
											</a>
										</li>
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar avatar-lg flex-shrink-0">
														<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-01.jpg">
													</span>
													<div class="media-body flex-grow-1">
														<p class="noti-details"><span class="noti-title">Jonathan Doe</span> has booked <span class="noti-title">your service</span></p>
														<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
								<div class="topnav-dropdown-footer">
									<a href="#">View all Notifications</a>
								</div>
							</div>
						</li>
						<!-- /Notifications -->

						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="assets/img/profiles/avatar-14.jpg" alt="Profile">
								</span>
								<span class="user-text">Daniel Johshuva</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="user-dashboard.html">
									<i class="feather-user-check"></i> Dashboard
								</a>
								<a class="dropdown-item" href="user-settings.html">
									<i class="feather-settings"></i> Settings
								</a>
								<a class="dropdown-item" href="index.html">
									<i class="feather-power"></i> Logout
								</a>
							</div>
						</li>
						<!-- /User Menu -->

					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">User Bookings</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">User Bookings</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->		     	
		
		<!-- Dashboard Menu -->
		<div class="dashboard-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="dashboard-menu">
							<ul>
								<li>
									<a href="user-dashboard.html">
										<img src="assets/img/icons/dashboard-icon.svg" alt="Icon">
										<span>Dashboard</span>
									</a>
								</li>
								<li>
									<a href="user-bookings.html" class="active">
										<img src="assets/img/icons/booking-icon.svg" alt="Icon">
										<span>My Bookings</span>
									</a>
								</li>
								<li>
									<a href="user-reviews.html">
										<img src="assets/img/icons/review-icon.svg" alt="Icon">
										<span>Reviews</span>
									</a>
								</li>
								<li>
									<a href="user-wishlist.html">
										<img src="assets/img/icons/wishlist-icon.svg" alt="Icon">
										<span>Wishlist</span>
									</a>
								</li>
								<li>
									<a href="user-messages.html">
										<img src="assets/img/icons/message-icon.svg" alt="Icon">
										<span>Messages</span>
									</a>
								</li>
								<li>
									<a href="user-wallet.html">
										<img src="assets/img/icons/wallet-icon.svg" alt="Icon">
										<span>My Wallet</span>
									</a>
								</li>
								<li>
									<a href="user-payment.html">
										<img src="assets/img/icons/payment-icon.svg" alt="Icon">
										<span>Payments</span>
									</a>
								</li>
								<li>
									<a href="user-settings.html">
										<img src="assets/img/icons/settings-icon.svg" alt="Icon">
										<span>Settings</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Dashboard Menu -->

		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<!-- Content Header -->
				<div class="content-header d-flex align-items-center justify-content-between">
					<h4>My Bookings</h4>
					<ul class="booking-nav">
						<li>
							<a href="user-booking-cancelled.html" class="active"><i class="fa-solid fa-list"></i></a>
						</li>
						<li>
							<a href="booking-cancelled-calendar.html"><i class="fa-solid fa-calendar-days"></i></a>
						</li>
					</ul>
				</div>
				<!-- /Content Header -->				

				<!-- Sort By -->
				<div class="row">
					<div class="col-lg-12">
						<div class="sorting-info">
							<div class="row d-flex align-items-center">
								<div class="col-xl-7 col-lg-8 col-sm-12 col-12">
									<div class="booking-lists">
										<ul class="nav">
											<li><a href="user-bookings.html">All Bookings</a></li>
											<li><a href="user-booking-upcoming.html">Upcoming</a></li>
											<li><a href="user-booking-inprogress.html">Inprogress</a></li>
											<li><a href="user-booking-complete.html">Completed</a></li>
											<li><a class="active" href="user-booking-cancelled.html">Cancelled</a></li>
										</ul>
									</div>
								</div>
								<div class="col-xl-5 col-lg-4 col-sm-12 col-12">
									<div class="filter-group">
										<div class="sort-week sort">
											<div class="dropdown dropdown-action">
												<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
													This Week <i class="fas fa-chevron-down"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="javascript:void(0);">
														This Week
													</a>
													<a class="dropdown-item" href="javascript:void(0);">
														This Month
													</a>
													<a class="dropdown-item" href="javascript:void(0);">
														Last 30 Days
													</a>
													<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#custom_date">
														Custom
													</a>
												</div>
											</div>
										</div>
										<div class="sort-relevance sort">
											<div class="dropdown dropdown-action">
												<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
													Sort By Relevance <i class="fas fa-chevron-down"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="javascript:void(0);">
														Sort By Relevance
													</a>
													<a class="dropdown-item" href="javascript:void(0);">
														Sort By Ascending
													</a>
													<a class="dropdown-item" href="javascript:void(0);">
														Sort By Descending
													</a>
													<a class="dropdown-item" href="javascript:void(0);">
														Sort By Alphabet
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- Sort By -->		

				<div class="row">

					<!-- Cancelled -->
					<div class="col-lg-12 d-flex">
						<div class="card book-card flex-fill mb-0">
							<div class="card-header">	
								<div class="row align-items-center">
									<div class="col-md-5">
										<h4>Cancelled <span>40</span></h4>	
									</div>
									<div class="col-md-7 text-md-end">
										<div class="table-search">
											<div id="tablefilter"></div>										
											<a href="listing-grid.html" class="btn btn-add"><i class="feather-plus-circle"></i>Add Booking</a>	
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">	
								<div class="table-responsive dashboard-table">
									<table class="table datatable">
										<thead class="thead-light">
											<tr>
												<th>
													<label class="custom_check w-100">
														<input type="checkbox" name="username">
														<span class="checkmark"></span> 
													</label>
												</th>
												<th>Booking ID</th>
												<th>Car Name</th>
												<th>Rental Type</th>
												<th>Pickup / Delivery Location</th>
												<th>Dropoff Location</th>
												<th>Booked On</th>
												<th>Total</th>
												<th>Cancelled By</th>
												<th>Reason</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<label class="custom_check w-100">
														<input type="checkbox" name="username">
														<span class="checkmark"></span> 
													</label>
												</td>
												<td><a href="#" data-bs-toggle="modal" data-bs-target="#cancelled_booking">#1001</a></td>
												<td>
													<div class="table-avatar">
														<a href="#" class="avatar avatar-lg flex-shrink-0">
															<img class="avatar-img" src="assets/img/cars/car-04.jpg" alt="Booking">
														</a>
														<div class="table-head-name flex-grow-1">
															<a href="#">Ferrari 458 MM Speciale</a>
															<p>Delivery</p>
														</div>
													</div>
												</td>
												<td>
													<p>Hourly</p>
												</td>
												<td>
													<p>45, Avenue ,Mark Street, <span class="d-block">USA 15 Sep 2023, 09:30 AM</span></p>
												</td>
												<td>
													<p>21, Avenue, Windham,  <span class="d-block">USA 15 Sep 2023, 11:30 AM</span></p>
												</td>
												<td>
													<p>15 Sep 2023, 09:00 AM</p>
												</td>
												<td>
													<p class="text-darker">₱300</p>
												</td>
												<td>
													<p class="text-darker">User</p>
												</td>
												<td>
													<a href="#" data-bs-toggle="modal" data-bs-target="#cancel_reason" class="reason-link"><i class="fa-regular fa-note-sticky"></i></a>
												</td>
												<td>
													<span class="badge badge-light-danger">Refund Started</span>
												</td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
															<i class="fas fa-ellipsis-vertical"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#cancelled_booking">
																<i class="feather-eye"></i> View
															</a>
															<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal">
																<i class="feather-trash-2"></i> Delete
															</a>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<label class="custom_check w-100">
														<input type="checkbox" name="username">
														<span class="checkmark"></span> 
													</label>
												</td>
												<td><a href="#" data-bs-toggle="modal" data-bs-target="#cancelled_booking">#1006</a></td>
												<td>
													<div class="table-avatar">
														<a href="#" class="avatar avatar-lg flex-shrink-0">
															<img class="avatar-img" src="assets/img/cars/car-06.jpg" alt="Booking">
														</a>
														<div class="table-head-name flex-grow-1">
															<a href="#">Acura Sport Version</a>
															<p>Sel pickup</p>
														</div>
													</div>
												</td>
												<td>
													<p>Hourly</p>
												</td>
												<td>
													<p>78 Cityview Drive, Glenolden <span class="d-block">24 Nov 2023, 06:40 AM</span></p>
												</td>
												<td>
													<p>66 Ottis Street, Shawnee <span class="d-block">24 Nov 2023, 08:40 AM</span></p>
												</td>
												<td>
													<p>24 Oct 2023, 05:40 PM</p>
												</td>
												<td>
													<p class="text-darker">₱250</p>
												</td>
												<td>
													<p class="text-darker">Admin</p>
												</td>
												<td>
													<a href="#" class="reason-link"><i class="fa-regular fa-note-sticky"></i></a>
												</td>
												<td>
													<span class="badge badge-light-danger">Cancelled</span>
												</td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
															<i class="fas fa-ellipsis-vertical"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#cancelled_booking">
																<i class="feather-eye"></i> View
															</a>
															<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal">
																<i class="feather-trash-2"></i> Delete
															</a>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<label class="custom_check w-100">
														<input type="checkbox" name="username">
														<span class="checkmark"></span> 
													</label>
												</td>
												<td><a href="#" data-bs-toggle="modal" data-bs-target="#cancelled_booking">#1007</a></td>
												<td>
													<div class="table-avatar">
														<a href="#" class="avatar avatar-lg flex-shrink-0">
															<img class="avatar-img" src="assets/img/cars/car-08.jpg" alt="Booking">
														</a>
														<div class="table-head-name flex-grow-1">
															<a href="#">Toyota Tacoma 4WD</a>
															<p>Delivery</p>
														</div>
													</div>
												</td>
												<td>
													<p>Monthly</p>
												</td>
												<td>
													<p>41 Duke Lane, Branchburg <span class="d-block">15 Dec 2023, 04:30 PM</span></p>
												</td>
												<td>
													<p>80 Glory Road, Nashville <span class="d-block">15 Jan 2024, 04:30 PM</span></p>
												</td>
												<td>
													<p>02 Nov 2023, 07:30 AM</p>
												</td>
												<td>
													<p class="text-darker">₱1000</p>
												</td>
												<td>
													<p class="text-darker">User</p>
												</td>
												<td>
													<a href="#" class="reason-link"><i class="fa-regular fa-note-sticky"></i></a>
												</td>
												<td>
													<span class="badge badge-light-danger">Refund Completed</span>
												</td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
															<i class="fas fa-ellipsis-vertical"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#cancelled_booking">
																<i class="feather-eye"></i> View
															</a>
															<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal">
																<i class="feather-trash-2"></i> Delete
															</a>
														</div>
													</div>
												</td>
											</tr>											
										</tbody>
									</table>
								</div>	

								<div class="table-footer">
									<div class="row">
										<div class="col-md-6">
											<div id="tablelength"></div>
										</div>
										<div class="col-md-6 text-md-end">
											<div id="tablepage"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Cancelled -->

				</div>				

			</div>			
		</div>
		<!-- /Page Content -->

         <!-- Footer -->
		<footer class="footer">	
			<!-- Footer Top -->	
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="row">
								<div class="col-lg-4 col-md-6">
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">About Company</h5>
										<ul>
											<li>
												<a href="about.html">Our Company</a>
											</li>
											<li>
												<a href="javascript:void(0)">Shop Toyota</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrentals USA</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrentals Worldwide</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrental Category</a>
											</li>										
										</ul>
									</div>
									<!-- /Footer Widget -->
								</div>
								<div class="col-lg-4 col-md-6">
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">Vehicles Type</h5>
										<ul>
											<li>
												<a href="javascript:void(0)">All  Vehicles</a>
											</li>
											<li>
												<a href="javascript:void(0)">SUVs</a>
											</li>
											<li>
												<a href="javascript:void(0)">Trucks</a>
											</li>
											<li>
												<a href="javascript:void(0)">Cars</a>
											</li>
											<li>
												<a href="javascript:void(0)">Crossovers</a>
											</li>								
										</ul>
									</div>
									<!-- /Footer Widget -->
								</div>
								<div class="col-lg-4 col-md-6">
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">Quick links</h5>
										<ul>
											<li>
												<a href="javascript:void(0)">My Account</a>
											</li>
											<li>
												<a href="javascript:void(0)">Champaigns</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrental Dealers</a>
											</li>
											<li>
												<a href="javascript:void(0)">Deals and Incentive</a>
											</li>
											<li>
												<a href="javascript:void(0)">Financial Services</a>
											</li>								
										</ul>
									</div>
									<!-- /Footer Widget -->
								</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="footer-contact footer-widget">
								<h5 class="footer-title">Contact Info</h5>
								<div class="footer-contact-info">									
									<div class="footer-address">											
										<span><i class="feather-phone-call"></i></span>
										<div class="addr-info">
											<a href="tel:+1(888)7601940">+ 1 (888) 760 1940</a>
										</div>
									</div>
									<div class="footer-address">
										<span><i class="feather-mail"></i></span>
										<div class="addr-info">
											<a href="mailto:support@example.com">support@example.com</a>
										</div>
									</div>
									<div class="update-form">
										<form action="#">
											<span><i class="feather-mail"></i></span> 
											<input type="email" class="form-control" placeholder="Enter You Email Here">
											<button type="submit" class="btn btn-subscribe"><span><i class="feather-send"></i></span></button>
										</form>
									</div>
								</div>								
								<div class="footer-social-widget">
									<ul class="nav-social">
										<li>
											<a href="javascript:void(0)"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-instagram fi-icon"></i></a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-behance fi-icon"></i></a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-twitter fi-icon"></i> </a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-linkedin fi-icon"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row align-items-center">
							<div class="col-md-6">
								<div class="copyright-text">
									<p>© 2024 Dreams Rent. All Rights Reserved.</p>
								</div>
							</div>
							<div class="col-md-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<div class="vistors-details">
										<ul class="d-flex">											
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>											
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master.svg" alt="Master"></a></li>
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
										</ul>										   								
									</div>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->			
		</footer>
		<!-- /Footer -->	
		
	</div>

	<!-- Completed Booking -->
	<div class="modal new-modal multi-step fade" id="cancelled_booking" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close-btn" data-bs-dismiss="modal"><span>×</span></button>
				</div>
				<div class="modal-body">
					<div class="booking-header">
						<div class="booking-img-wrap">
							<div class="book-img">
								<img src="assets/img/cars/car-05.jpg" alt="img">
							</div>
							<div class="book-info">
								<h6>Chevrolet Camaro</h6>
								<p><i class="feather-map-pin"></i> Location : Miami St, Destin, FL 32550, USA</p>
							</div>
						</div>
						<div class="book-amount">
							<p>Total Amount</p>
							<h6>₱4700 <a href="javascript:void(0);"><i class="feather-alert-circle"></i></a></h6>
						</div>
					</div>
					<div class="booking-group">
						<div class="booking-wrapper">
							<div class="booking-title">
								<h6>Booking Details</h6>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Booking Type</h6>
										<p>Delivery</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Rental Type</h6>
										<p>Days (3 Days)</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Extra Service</h6>
										<p>Mobile Charging</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Delivery</h6>
										<p>45, Avenue ,Mark Street, USA</p>
										<p>11 Jan 2023, 03:30 PM</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Dropoff</h6>
										<p>78, 10th street Laplace,USA</p>
										<p>11 Jan 2023, 03:30 PM</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Status</h6>
										<span class="badge badge-light-danger">Refund Initiated</span>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Booked On</h6>
										<p>15 Sep 2023, 09:30 AM</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Start Date</h6>
										<p>18 Sep 2023, 09:30 AM</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>End Date</h6>
										<p>20 Sep 2023, 09:30 AM</p>
									</div>
								</div>
							</div>
						</div>
						<div class="booking-wrapper">
							<div class="booking-title">
								<h6>Personal Details</h6>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Details</h6>
										<p>Johna Melinda</p>
										<p>+1 56441 56464</p>
										<p>Johna@example.com</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>Address</h6>
										<p>78, 10th street</p>
										<p>Laplace,USA</p>
										<p>316 654</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">								
									<div class="booking-view">
										<h6>No of Person’s</h6>
										<p>2 Adults, 1 Child</p>
									</div>
								</div>
							</div>
						</div>
						<div class="cancel-reason">
							<h6>Cancel Reason</h6>
							<p>On the booking date i have other work on my personal so i am cancelling my bookingOn the booking date i have other work on my personal so i am cancelling my booking On the booking date i have other work on my personal  so i am cancelling my booking</p>
						</div>
						<div class="cancel-box">
							<p>Cancelled By User on 17 Sep 2023, Refund will deposited in user account on 19 Sep 2023 </p>
						</div>
					</div>
					<div class="modal-btn modal-btn-sm text-end">
						<a href="javascript:void(0);" data-bs-target="#view_status" data-bs-toggle="modal"  data-bs-dismiss="modal" class="btn btn-primary">
							View status
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Cancelled Booking -->

	<!-- View Status -->
	<div class="modal new-modal fade" id="view_status" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<div class="booking-header">
						<div class="booking-img-wrap">
							<div class="book-img">
								<img src="assets/img/cars/car-05.jpg" alt="img">
							</div>
							<div class="book-info">
								<h6>Chevrolet Camaro</h6>
								<p><i class="feather-map-pin"></i> Location : Miami St, Destin, FL 32550, USA</p>
							</div>
						</div>
						<div class="book-amount">
							<p>Total Amount</p>
							<h6>₱4700 <a href="javascript:void(0);"><i class="feather-alert-circle"></i></a></h6>
						</div>
					</div>
					<div class="refund-wrap booking-group">
						<div class="booking-wrapper">
							<h6>Refund Method</h6>
							<div class="card-status-wrap">
								<div class="card-status">
									<h5>Mastercard</h5>
									<p>Started on : 20 Oct 2023</p>
								</div>
								<div class="status-img">
									<img src="assets/img/icons/card-icon.svg" alt="Img">
								</div>
							</div>
							<div class="refund-process">
								<h5>Refund Process</h5>
								<ul>
									<li>
										<h6>Dreams Rent initiated your refund</h6>
										<p>20 Oct 2023</p>
									</li>
									<li>
										<h6>Mastercard has accepted your request</h6>
										<p>20 Oct 2023</p>
									</li>
									<li>
										<h6>Refund credited to you account successfully</h6>
										<p>20 Oct 2023</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /View Status -->

	<!-- Delete Modal -->
	<div class="modal new-modal fade" id="delete_modal" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="delete-action">
						<div class="delete-header">
							<h4>Delete Booking</h4>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn">
							<div class="row">
								<div class="col-6">
									<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-secondary w-100">
										Delete
									</a>
								</div>
								<div class="col-6">
									<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary w-100">
										Cancel
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Modal -->

	<!-- Custom Date Modal -->
	<div class="modal new-modal fade" id="custom_date" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Custom Date</h4>
					<button type="button" class="close-btn" data-bs-dismiss="modal"><span>×</span></button>
				</div>
				<div class="modal-body">
					<form action="#">
						<div class="modal-form-group">
							<label>From Date <span class="text-danger">*</span></label>
							<input type="date" class="form-control">
						</div>
						<div class="modal-form-group">
							<label>To Date <span class="text-danger">*</span></label>
							<input type="date" class="form-control">
						</div>
						<div class="modal-btn modal-btn-sm text-end">
							<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-secondary">
								Cancel Booking
							</a>
							<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary">
								Start Ride
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Custom Date Modal -->

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>	

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Datatables JS -->
	<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables/datatables.min.js"></script>
	
	<!-- Top JS -->
	<script src="assets/js/backToTop.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>
	
</body>
</html>
